<header id="header">
	<a href="#" class="image avatar">
    <img src="http://res.cloudinary.com/dypfv4yqq/image/upload/v1441163923/Yuqi_Hao_xhn4ml.jpg" alt="" />
  </a>
	<h1><strong>I am Mark Hao</strong>. Welcome to my personal portfolio.<br/>
</h1>
</header>

<!-- Main -->
<div id="main">
</div>

<!-- Footer -->
<footer id="footer">
	<ul class="icons">
		<li><a href="https://www.linkedin.com/in/markqhao" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
		<li><a href="https://github.com/markhao" class="icon fa-github"><span class="label">Github</span></a></li>
		<!-- <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li> -->
	</ul>
	<ul class="copyright">
		<li>&copy; Mark Hao</li>
	</ul>
</footer>

<script>
  $(function() {
    Mark.initialize();
	});
</script>
