<header class="major">
	<h2>My Love Story</h2>
</header>
<p>After I graduated from college with a biology degree in 2012,
	I didn’t know what I should do. How I had wished Steve Jobs,
	when he said at Stanford that "You've got to find what you love”,
	would have told us how. But he did hint that "As with all matters of the heart,
	you'll know when you find it. If you haven't found it yet, keep looking.” <br /><br />
	Fast forward to June 2014. I noticed some high school kids went to WWDC;
	I taught myself iOS and Android programming in weeks while still working at
	a leading game company. Then I knew I had to quit the job so I could get to do
	what I love to do, what I have to do, day and night. Steve Jobs is right:
	“you'll know when you find it”. <br /><br />
	So I published several apps in App Store and Google Play,
	and had been working full-time on an iOS consulting project.
	Then I decided to add web development skills to my arsenal and push my limit
	 by taking an intense 12-week appacademy.io web dev bootcamp program:
	 their acceptance rate is < 5%, drop rate > 15%, requiring about 100 hours
	 per week of immersive work. <br /><br />
	 It has to be love, as I enjoyed minute of it. "The only way to do great work
	 is to love what you do.” I earned perfect scores on all 6 assessments,
	 showed outstanding coding and troubleshooting skills among my peers,
	 and did my final project in 2 weeks that “was very impressive” to the mentors.
	 <br /><br />
	 Here I am, even more passionate and ready, eager to learn more each and every day,
	 and to help build great software with my web and mobile development skills to
	 solve real world problems.
	 <br /><br />
	 Thank you for your time reading my story.<br /><br />
	 Mark

</p>
<!-- <ul class="actions">
	<li><a href="#" class="button">Learn More</a></li>
</ul> -->
