<header class="major">
	<h2>About Myself</h2>
</header>
<p>I am a software developer in the San Francisco Bay Area with full-stack web
	development experience including Ruby, Rails, Javascript, Backbone.js
	and HTML/CSS, as well as mobile development experience including iOS and
	Android. Since August 2014, I’ve independently developed and published a
	web app, a Android app, and two iOS apps. <br />
	Check out my projects below and don't hesitate to reach out!
</p>
<!-- <ul class="actions">
	<li><a href="#" class="button">Learn More</a></li>
</ul> -->
