<header class="major">
	<h2>About Myself</h2>
</header>
<p>I am a software developer in the San Francisco Bay Area with full-stack web
	development experience including Ruby, Rails, Javascript, Backbone.js
	and HTML/CSS, and mobile development experience including iOS and
	Android. <br /><br />
  Please check out my projects below and don't hesitate to reach out!
</p>
<!-- <ul class="actions">
	<li><a href="#" class="button">Learn More</a></li>
</ul> -->
