<h1>Projects</h1>
<br />
<h2>Web:</h2>
<div class="row">
	<article class="6u 12u$(xsmall) work-item">
		<h3><a href="http://www.bdmi.co">BDMI(Live)</a></h3>
		<a href="http://res.cloudinary.com/dypfv4yqq/image/upload/c_lfill,h_434,w_740/v1441171752/Screen_Shot_2015-09-01_at_10.27.55_PM_pq62wn.png" class="image fit thumb">
			<img src="http://res.cloudinary.com/dypfv4yqq/image/upload/c_lfill,h_217,w_370/v1441171752/Screen_Shot_2015-09-01_at_10.27.55_PM_pq62wn.png" alt="" />
		</a>
		<p>Single-page web app using Ruby on Rails and Backbone.js</p>
	</article>
</div>
<br />
<h2>Mobile:</h2>
<div class="row">
	<article class="6u 12u$(xsmall) work-item">
		<h3><a href="https://itunes.apple.com/us/app/xiao-yang-erdemo-yin-le-xie/id735858889?mt=8" >
			Music Demo - iOS (App Store)
		</a></h3>
		<a href="http://res.cloudinary.com/dypfv4yqq/image/upload/c_lpad,h_434,w_740/v1441172567/music-demo_e2emsp.jpg" class="image fit thumb">
			<img src="http://res.cloudinary.com/dypfv4yqq/image/upload/c_lpad,h_217,w_370/v1441172567/music-demo_e2emsp.jpg" alt="" />
		</a>
		<p>A music app for creation and community to allow users to create multi-track music with their friends.</p>
	</article>
	<article class="6u$ 12u$(xsmall) work-item">
		<h3><a href="https://itunes.apple.com/us/app/qing-dao-ren-jia-m-t-seafood/id951297425?mt=8" >
			M & T Seafood - iOS (App Store)
		</a></h3>
		<a href="http://res.cloudinary.com/dypfv4yqq/image/upload/c_lpad,h_434,w_740/v1441175442/m_t-ios_xgwwkc.jpg" class="image fit thumb">
			<img src="http://res.cloudinary.com/dypfv4yqq/image/upload/c_lpad,h_217,w_370/v1441175442/m_t-ios_xgwwkc.jpg" alt="" />
		</a>
		<p>An iOS app for M & T Seafood Restaurant located in Los Angeles.</p>
	</article>
	<article class="6u 12u$(xsmall) work-item">
		<h3><a href="https://play.google.com/store/apps/details?id=com.markqhao.qdrj" >
			M & T Seafood - Android (Google Play)
		</a></h3>
		<a href="http://res.cloudinary.com/dypfv4yqq/image/upload/c_lpad,h_434,w_740/v1441176464/qdrj_sm3bwn.jpg" class="image fit thumb">
			<img src="http://res.cloudinary.com/dypfv4yqq/image/upload/c_lpad,h_217,w_370/v1441176464/qdrj_sm3bwn.jpg" alt="" />
		</a>
		<p>An Android app for M & T Seafood Restaurant located in Los Angeles.</p>
	</article>
	<article class="6u$ 12u$(xsmall) work-item">
		<h3><a href="https://itunes.apple.com/us/app/idogs-dog-breeds-quizzes/id945883940?mt=8" >
			iDogs - Dog Breeds & Quizzes - iOS (App Store)
		</a></h3>
		<a href="http://res.cloudinary.com/dypfv4yqq/image/upload/c_lpad,h_434,w_740/v1441176683/idog_surm6k.jpg" class="image fit thumb">
			<img src="http://res.cloudinary.com/dypfv4yqq/image/upload/c_lpad,h_217,w_370/v1441176683/idog_surm6k.jpg" alt="" />
		</a>
		<p>The fullest dog breed list & info</p>
	</article>
</div>
<br />
<h2>Others: </h2>
<div class="row">
	<article class="6u 12u$(xsmall) work-item">
		<h3><a href="http://markhao.github.io/Snake/html/index.html">Snake(Live)</a></h3>
		<a href="http://res.cloudinary.com/dypfv4yqq/image/upload/c_lfill,h_434,w_740/v1441174677/Screen_Shot_2015-09-01_at_11.17.35_PM_j8ecuk.png" class="image fit thumb">
			<img src="http://res.cloudinary.com/dypfv4yqq/image/upload/c_lfill,h_217,w_370/v1441174677/Screen_Shot_2015-09-01_at_11.17.35_PM_j8ecuk.png" alt="" />
		</a>
		<p>JavaScript Game</p>
	</article>
	<article class="6u$ 12u$(xsmall) work-item">
		<h3><a href="https://github.com/markhao/Chess/tree/master" >
			Chess(Github)
		</a></h3>
		<a href="http://res.cloudinary.com/dypfv4yqq/image/upload/c_lpad,h_434,w_740/v1441177127/Screen_Shot_2015-09-01_at_11.56.55_PM_c7rkqc.png" class="image fit thumb">
			<img src="http://res.cloudinary.com/dypfv4yqq/image/upload/c_lpad,h_217,w_370/v1441177127/Screen_Shot_2015-09-01_at_11.56.55_PM_c7rkqc.png" alt="" />
		</a>
		<p>Terminal Ruby Game</p>
	</article>
</div>
<!-- <ul class="actions">
	<li><a href="#" class="button">Full Portfolio</a></li>
</ul> -->
